/* Overall table styling */
.terms-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.terms-header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0 5px 0;
}

.terms-header h2 {
    margin: 5px;
    font-size: 18px;
}

.terms-row {
    border-top: 2px solid darkblue;
    border-bottom: 4px solid darkblue;
}

.terms-column {
    padding: 5px 20px;
    vertical-align: top;
    /*color: #333;*/
    width: 50%;
    font-size: 14px;
}

.terms-column ul {
    padding-left: 20px;
}

.terms-column li {
    margin-bottom: 10px;
}

/* Right column styling */
.terms-column[dir="rtl"] {
    text-align: right;
    border-right: 3px solid #007bff;

}

/*!* List item number styling *!*/
/*.terms-column li::before {*/
/*    content: "• ";*/
/*    color: #007bff;*/
/*    margin-right: 10px;*/
/*}*/

/* Styling for the headings and spans */
.terms-column p {
    font-weight: bold;
    font-size: 16px;
    /*color: #333;*/
    margin-bottom: 10px;
}

.terms-column span {
    font-size: 15px;
    /*color: #555;*/
}

